header{
  	background: #e9edc9;
	width:100%;
    position: sticky; 
	top: 0;
	justify-content: center;
}
header h1{
	text-align: center;
	color: white;
	background: #ccd5ae;
	width: 100%;
	font-size: 55px;
}
nav {
	overflow: hidden;
	width: 60%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
nav a {
	float: none;
  	color: black;
	justify-content: center;
	align-items: center;
  	text-decoration: none;
  	font-size: 17px;
  	margin: 0 40px 0 40px;
}
nav a:hover {
  background-color: #6b705c;
  color: white;
}

nav a.active {
  background-color: #6b705c;
  color: white;
}
body {
	margin: 0;
}
p {
	text-align: center;
}

section {
	width: 30%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
	float: left;
	margin: 5px;
	transition: 0.3s;
}
section:hover {
	transform: scale(1.05);
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
container {
	text-align: center;
	padding: 10px 10px;
}

section.contacts {
	width: 400px;
	padding: 30px;
	border: 3px solid #a5a58d;
	float: left;
}

