header{
  	background: #e9edc9;
	width:100%;
    position: sticky; 
	top: 0;
	justify-content: center;
}
header h1{
	text-align: center;
	color: white;
	background: #ccd5ae;
	width: 100%;
	font-size: 55px;
}
nav {
	overflow: hidden;
	width: 60%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
nav a {
	float: none;
  	color: black;
	justify-content: center;
	align-items: center;
  	text-decoration: none;
  	font-size: 17px;
  	margin: 0 40px 0 40px;
}
nav a:hover {
  background-color: #6b705c;
  color: white;
}

nav a.active {
  background-color: #6b705c;
  color: white;
}
body {
	margin: 0;
}
video {
	width: 320px;
	height: 240px;
}
ul {
	list-style: none;
	padding: 30px;
	border: 3px solid #a5a58d;
}
article {
	width: 400px;
}
li a {
  	color: black;
  	text-decoration: none;
}
li a:hover {
  background-color: #6b705c;
  color: white;
}
li a.active {
  background-color: #6b705c;
  color: white;
}