header{
	width: 100%;
  	background: #e9edc9;
}

nav {
	overflow: hidden;
	width: 80%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
nav a {
	float: left;
  	color: black;
	justify-content: center;
	align-items: center;
  	text-decoration: none;
  	font-size: 17px;
  	margin: 0 65px 0 65px;
}

nav a:hover {
  background-color: #6b705c;
  color: white;
}

nav a.active {
  background-color: #6b705c;
  color: white;
}

header h1{
	text-align: center;
	color: white;
	background: #ccd5ae;
	width: 100%;
	font-size: 40px;
}
article {
	width: 90%;
	border: 3px solid #a5a58d;
	float: none;
	margin: 35px;
}
h2 {
	text-align: center;
}
hr {
	background-color: #a5a58d;
	height: 2px;
}
ul {
	list-style: none;
}
.email {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 85px;
	right: 0;
	background: url(../images/img-sprites.jpg);
	background-position: -80px 0px;
}
.twt {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 45px;
	right: 0;
	background: url(../images/img-sprites.jpg);
	background-position: -40px 0px;
}
.insta {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 5px;
	right: 0;
	background: url(../images/img-sprites.jpg);
}