header {
	background-color: #007196;
	padding: 1em;
	color: white;
	clear: left;
	text-align: center;
}
footer {
	background-color: #007196;
	padding: 1em;
	color: white;
	clear: left;
	text-align: center;
}
nav {
	float: right;
	width: 160px;
	height: 134px;
	padding: 1em;
	border:solid #333;
}
ul {
	list-style-type: none;
	padding: 0px;
	text-decoration: none;
	padding-right: 10px;
	color: #C5BD99;
}
article {
	padding: 1em;
}
aside {
	float: right;
	width: 200px;
	background-color: light gray;
	padding: 20px;
	margin-right: 40px;
	font-size: 80%;
	font-family: italic;
	position:relative; 
	box-shadow: 3px 5px 3px 1 px #7e563e;
	position: relative;
	top: -40px;
}